@{
    ViewData["Title"] = "Загрузить файл";
}

<h2>Загрузить новый файл</h2>

<form method="post" enctype="multipart/form-data" asp-action="UploadFile">
    <div>
        <label for="file">Выберите файл для загрузки:</label>
        <input type="file" name="file" id="file" required />
    </div>
    <div>
        <label for="description">Описание:</label>
        <input type="text" name="description" id="description" required />
    </div>
    <div>
        <label for="team">Команда:</label>
        <input type="text" name="team" id="team" required />
    </div>
    <button type="submit">Загрузить</button>
</form>
