@{
    ViewData["Title"] = "Главная страница";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f8ff; /* Светло-голубой цвет */
            margin: 0;
            padding: 0;
            color: #333;
        }

        header {
            background-color: #add8e6; /* Светло-голубой */
            color: #333;
            padding: 20px;
            text-align: center;
        }

        section {
            padding: 20px;
            text-align: center;
            margin-top: 30px;
        }

        h2 {
            color: #4682b4; /* Более темный голубой */
        }

        .intro-text {
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        .button-link {
            display: inline-block;
            padding: 10px 20px;
            font-size: 18px;
            background-color: #add8e6; /* Светло-голубой */
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

            .button-link:hover {
                background-color: #87cefa; /* Светлый небесно-голубой */
            }

        footer {
            text-align: center;
            margin-top: 30px;
            padding: 10px;
            background-color: #add8e6; /* Светло-голубой */
            color: #333;
        }

        .footer-text {
            margin: 0;
        }
    </style>
</head>
<body>

    <header>
        <h1>Добро пожаловать на наш сайт!</h1>
    </header>

    <section>
        <h2>Общая информация о сайте</h2>
        <p class="intro-text">
            Этот сайт создан для предоставления информации о волейбольных играх и статистике по ним. Здесь вы найдете видео с играми, а также сможете фильтровать и просматривать статистику по действиям игроков, таймкодам и многому другому.
        </p>
        <p class="intro-text">
            Мы стремимся сделать процесс просмотра игр более информативным и удобным, предлагая вам возможность не только следить за ходом матча, но и анализировать ключевые моменты с подробными метками времени.
        </p>
        <a href="/File" class="button-link">Перейти к списку игр</a>
    </section>

    <footer>
        <p class="footer-text">&copy; 2025 Волейбольный статистический сайт</p>
    </footer>

</body>
</html>
